In [13]:
from google import genai

In [14]:
import os
import pandas as pd

client = genai.Client(api_key="AIzaSyCmB225fLbd2Jp2Jd5R5K8Rse7atXBn1J0")
chat = client.chats.create(model="gemini-2.0-flash")
# --- Set folder paths (based on your structure) ---
accommodation_path = "c:/replit/project/dist/data/Accomodation"
food_path = "c:/replit/project/dist/data/Food"

# --- Helper function to load all CSVs from a folder ---
def load_all_csv(folder_path):
    all_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith(".csv")]
    df_list = []
    
    for file in all_files:
        try:
            df = pd.read_csv(file)
            df['source_file'] = os.path.basename(file)  # To identify from which file the data came
            df_list.append(df)
            print(f"‚úÖ Loaded: {file} ({len(df)} rows)")
        except Exception as e:
            print(f"‚ö†Ô∏è Error loading {file}: {e}")
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        print(f"\nüìä Combined Data: {len(combined_df)} total rows from {len(df_list)} files.\n")
        return combined_df
    else:
        print("‚ùå No CSV files found.")
        return pd.DataFrame()

# --- Load accommodation and food data ---
print("üè† Loading accommodation data...")
accommodation_df = load_all_csv(accommodation_path)

print("\nüçî Loading food data...")
food_df = load_all_csv(food_path)

# --- Summarize Accommodation Data ---
sample_accommodation = accommodation_df.head(10).to_csv(index=False)

summary_prompt_accommodation = f"""
You are a data analyst. Here is some accommodation data:
{sample_accommodation}

Please summarize it:
- Mention average rent price (if visible)
- Common localities or areas
- Common property types
- Any interesting insights
"""

res1 = chat.send_message(summary_prompt_accommodation)
print("\nüè† Accommodation Summary:\n", res1.text)

# --- Summarize Food Data ---
sample_food = food_df.head(10).to_csv(index=False)

summary_prompt_food = f"""
You are a food data analyst. Here is some restaurant and food data:
{sample_food}

Please summarize it:
- Mention popular dishes or categories
- Average price range
- Rating trends (if available)
- Any other interesting insights
"""

res2 = chat.send_message(summary_prompt_food)
print("\nüçî Food Summary:\n", res2.text)

üè† Loading accommodation data...
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Ahmedabad-with-images.csv (245 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Ahmedabad.csv (244 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Baroda.csv (195 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Gandhinagar.csv (157 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Rajkot.csv (107 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Surat.csv (203 rows)

üìä Combined Data: 1151 total rows from 6 files.


üçî Loading food data...
‚úÖ Loaded: c:/replit/project/dist/data/Food\gujrat_food.csv (500 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Food\swiggy_Ahm.csv (10185 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Food\tifin_rental.csv (66 rows)

üìä Combined Data: 10751 total rows from 3 files.

üè† Accommodation Summary:
 Okay, here's a summary of the provided Ahmedabad accommodation data:

**Summary:**

*   **Average Rent Price:** Based on the provided data, the average rent price for the properties listed is approximately **‚Çπ41,249**. (Calculated by summing the listed prices and dividing by the number of entries).

*   **Common Localities/Areas:** The most common localities appearing in the dataset are **Shantigram**, followed by Vaishno Devi Circle, Jagatpur, Bodakdev, Makarba, Motera, Bopal and Chandkheda.

*   **Common Property Types:** The dominant property type in this dataset is **Flat**. One listing is an Independent Builder Floor.

**Interesting Insights:**

*   **Furnishing Preference:** While both fully furnished and semi-furnished options are available, semi-furnished properties appear to be less common.
*   **Amenity Focus:** Security (24x7 Security) and amenities geared towards families (Children Play Area) seem to be frequently highlighted. Other common amenities include Gymnasiums, Landscaped Gardens, Parking and lifts
*   **Size Variation:** Property sizes vary significantly, ranging from 1206 sq.ft to 4105 sq.ft, indicating a range of accommodation options.
*   **Data Limitations:** The dataset is small, so it may not be entirely representative of the entire Ahmedabad rental market. Also, some entries have missing data (e.g., project/owner name, contact information).
*   **Price and Size Correlation:** There's a general tendency for larger properties to command higher rents, but furnishing status, amenities, and location also play significant roles.

I hope this summary is helpful!


üçî Food Summary:
 Okay, here's a summary of the Gujarat restaurant and food data you provided:

**Summary:**

*   **Popular Dishes/Categories:** Based on the limited data, the most frequent categories appear to be **Fast Food, Continental, Italian, and Desserts**. Specific popular dishes include "Pasta" (Primavera, Alfredo), "Dal Makhani", "Rasmalai", "Garlic Bread", "Fries", "Veg Wrap", and "Steak Sandwich".

*   **Average Price Range:** The average price of items listed is approximately **‚Çπ374.9**. (Calculated by summing the listed prices and dividing by the number of entries). The prices range from ‚Çπ133 to ‚Çπ692.

*   **Rating Trends:** Ratings are generally moderate. The ratings in the dataset range from 3.4 to 4.5.

**Interesting Insights:**

*   **Platform Distribution:** The data includes listings from Swiggy, Zomato and UberEats.
*   **Cuisine Variety:** The dataset offers a mix of cuisines, reflecting the diverse culinary landscape.
*   **Data Limitations:** The dataset is small, limiting the generalizability of any conclusions. It would be useful to have a larger dataset to determine true popularity of cuisines, dishes, or restaurants. Also, the same restaurant can appear multiple times in the dataset.
*   **Location:** The restaurants are located in Baroda, Surat, and Rajkot.

In [15]:
# --- Interactive chatbot for recommendations ---
print("\nü§ñ AI Chatbot Ready! Type 'exit' to stop.\n")

while True:
    query = input("üí¨ Ask something: ")
    if query.lower() == "exit":
        print("üëã Chat ended.")
        break

    # --- Accommodation queries ---
    if any(word in query.lower() for word in ["flat", "rent", "house", "home", "accommodation"]):
        # Detect location
        location_keywords = ["ahmedabad", "surat", "vadodara", "rajkot", "vastral", "bopal", "shantigram", "bodakdev"]
        found_location = None
        for loc in location_keywords:
            if loc in query.lower():
                found_location = loc
                break

        if found_location:
            filtered = accommodation_df[
                accommodation_df.apply(
                    lambda row: (
                        (pd.notna(row.get("City")) and found_location.lower() in str(row["City"]).lower())
                        or (pd.notna(row.get("Locality / Area")) and found_location.lower() in str(row["Locality / Area"]).lower())
                    ),
                    axis=1
                )
            ]
        else:
            filtered = accommodation_df.head(10)

        if not filtered.empty:
            data_text = filtered.head(5).to_string(index=False)
            prompt = f"User asked: {query}\nHere are some matching accommodation listings:\n{data_text}\nRespond helpfully based on the results."
            res = chat.send_message(prompt)
            print("\nüè† Response:\n", res.text)
        else:
            res = chat.send_message(f"There are no results for {found_location} in this dataset. Respond politely.")
            print("\nüè† Response:\n", res.text)

    # --- Food queries ---
    elif any(word in query.lower() for word in ["food", "restaurant", "tiffin", "dish", "meal"]):
        filtered = food_df.head(5)  # Later, you can filter based on city or price
        data_text = filtered.to_string(index=False)
        prompt = f"User asked: {query}\nHere are some sample food/restaurant records:\n{data_text}\nNow answer the user‚Äôs query clearly and helpfully."
        res = chat.send_message(prompt)
        print("\nüçî Response:\n", res.text)

    # --- Default general queries ---
    else:
        res = chat.send_message(query)
        print("\nü§ñ Gemini:\n", res.text)

ü§ñ AI Chatbot Ready! Type 'exit' to stop.


ü§ñ Gemini:
 Hi there! How can I help you today?


ü§ñ Gemini:
 I don't have access to a live, constantly updating database of Surat data. The data I have access to is what I've been trained on, and that training data has a cutoff point.

Therefore, I don't have "now" data for Surat, or any other location.

To get current data about Surat, you would need to consult up-to-date sources like:

*   **Online search engines (Google, Bing, etc.):** Search for the specific information you're looking for (e.g., "restaurants in Surat", "current weather Surat").
*   **Dedicated data providers:** There are companies that specialize in collecting and providing real-time or near real-time data.
*   **Official government or municipal websites:** These often have official statistics and information.
*   **APIs (Application Programming Interfaces):** Some services provide APIs that allow you to programmatically access data.

What kind of data about Surat are you looking for? If you tell me what you're interested in, I can try to point you to potential resources.


ü§ñ Gemini:
 Okay, I understand now! You want to analyze *your* CSV data (the one we've been working with) and determine which locality/area in Surat appears most frequently, which could be interpreted as the "best" area based on the data available.

Based *solely* on the data you provided earlier, which contained only *one* Surat data point, I can tell you that:

*   **Locality/Area in Surat:** The only locality represented in your current dataset is (Restaurant name) *Dil Se Re Restaurant*.

Therefore, based on the incredibly limited information in your current sample, I can only state that *Dil Se Re Restaurant* is the best area because it's the only Surat area present.

**Important Considerations:**

*   **Extremely Limited Data:** One data point is not statistically significant. It provides virtually no reliable information about the "best" area in Surat.
*   **"Best" is Subjective:** Even with more data, defining "best" requires a clear criterion. Are you looking for the area with the most restaurants, the highest-rated restaurants, the cheapest restaurants, or something else? My previous response considered the greatest number of locations.
*   **Restaurant Location is not Area** The area in question is the *location* column of a restaurant.

**To get a meaningful answer, you would need to:**

1.  **Provide a much larger dataset that includes *many* entries for Surat.** The more data, the more accurate the analysis will be.
2.  **Define what you mean by "best".**
3.   **Provide correct data.**. *Dil Se Re Restaurant* is the location of the restaurant, not an area.


ü§ñ Gemini:
 Okay, I understand. I will search your provided accommodation data and identify the localities/areas in Surat that have properties with a rent price under 15000.

However, based on the accommodation data provided, there is no Surat Data. Provide Surat accommodation data in the same format so I can determine the Surat area list.


ü§ñ Gemini:
 I apologize for the misunderstanding. I do not have access to files on your local computer. I can only analyze the data that you directly provide to me in our conversation.

To proceed, you will need to copy and paste the contents of your "surat.csv" file into our conversation. Please make sure the data is formatted consistently with the previous accommodation data we discussed.

Once you provide the data, I can identify the localities/areas in Surat with rent prices under 15000.


ü§ñ Gemini:
 Understood. Since you have not provided any Surat accommodation data from the "surat.csv" file, I am unable to identify any areas in Surat with accommodation under 15000.

Please provide the data so I can assist you further.


ü§ñ Gemini:
 Okay. Since you have not provided any data, I will assume you don't need any further assistance at this time. If you have data you'd like me to analyze later, just paste it into the chat and let me know what you'd like me to do with it!

üëã Chat ended.

In [28]:
#PREPROCESSING

In [36]:
import pandas as pd

# Accommodation CSVs
accommodation_files = ["c:/replit/project/dist/data/Accomodation/Ahmedabad.csv", "c:/replit/project/dist/data/Accomodation/Surat.csv", "c:/replit/project/dist/data/Accomodation/Rajkot.csv", "c:/replit/project/dist/data/Accomodation/Baroda.csv", "c:/replit/project/dist/data/Accomodation/Gandhinagar.csv"]
accommodation_df = pd.concat([pd.read_csv(f) for f in accommodation_files], ignore_index=True)

# Food CSV
food_files = ["c:/replit/project/dist/data/Food/gujrat_food.csv","c:/replit/project/dist/data/Food/swiggy_Ahm.csv"]
food_df = pd.concat([pd.read_csv(f) for f in food_files], ignore_index=True)


# Tiffin CSV
tiffin_df = pd.read_csv("c:/replit/project/dist/data/Food/tifin_rental.csv")

In [19]:
import pandas as pd

# Load CSVs
swiggy_df = pd.read_csv("c:/replit/project/dist/data/Food/swiggy_Ahm.csv")
gujarat_df = pd.read_csv("c:/replit/project/dist/data/Food/gujrat_food.csv")

# Standardize Swiggy columns
swiggy_df = swiggy_df.rename(columns={
    "Restaurant Name": "restaurant_name",
    "State": "state",
    "City": "city",
    "Location": "location",
    "Category": "cuisine",
    "Dish Name": "dish",
    "Price (INR)": "price",
    "Rating": "rating",
    "Rating Count": "rating_count"
})
swiggy_df["platform"] = "swiggy"
swiggy_df["item_name"] = swiggy_df["dish"]

# Standardize Gujarat columns
gujarat_df = gujarat_df.rename(columns={
    "primary_cuisine": "cuisine",
    "item_name": "dish"
})

# Add missing columns to both
for col in ["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]:
    if col not in swiggy_df.columns:
        swiggy_df[col] = "N/A"
    if col not in gujarat_df.columns:
        gujarat_df[col] = "N/A"

# Select only standardized columns
swiggy_df = swiggy_df[["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]]
gujarat_df = gujarat_df[["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]]

# Clean string columns: strip and lowercase
for df in [swiggy_df, gujarat_df]:
    for col in ["restaurant_name", "platform", "city", "cuisine", "dish"]:
        df[col] = df[col].astype(str).str.strip().str.lower()
    # Fill missing values
    df.fillna("N/A", inplace=True)

# Combine
food_df = pd.concat([swiggy_df, gujarat_df], ignore_index=True)

# Preview

In [41]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [71]:
import pandas as pd
import re

# List of CSV files
accommodation_files = [
    "c:/replit/project/dist/data/Accomodation/Ahmedabad.csv",
    "c:/replit/project/dist/data/Accomodation/Surat.csv",
    "c:/replit/project/dist/data/Accomodation/Rajkot.csv",
    "c:/replit/project/dist/data/Accomodation/Baroda.csv",
    "c:/replit/project/dist/data/Accomodation/Gandhinagar.csv"
]

# Load and combine all CSVs
df_list = [pd.read_csv(f) for f in accommodation_files]
accommodation_df = pd.concat(df_list, ignore_index=True)

# Standardize column names
accommodation_df.columns = [col.strip().replace(" ", "_").lower() for col in accommodation_df.columns]

# Clean string columns
for col in accommodation_df.select_dtypes(include="object").columns:
    accommodation_df[col] = (
        accommodation_df[col]
        .astype(str)
        .str.strip()
        .str.lower()
        .replace(r"^\s*$", "N/A", regex=True)
    )

# Fill missing values
accommodation_df.fillna("N/A", inplace=True)

# Clean rent_price and bedrooms columns
def clean_numeric(val):
    val = re.sub(r"[^\d.]", "", str(val))
    return pd.to_numeric(val, errors="coerce")

if "rent_price" in accommodation_df.columns:
    accommodation_df["rent_price"] = accommodation_df["rent_price"].apply(clean_numeric).fillna("N/A")
if "bedrooms" in accommodation_df.columns:
    accommodation_df["bedrooms"] = accommodation_df["bedrooms"].apply(clean_numeric).fillna("N/A")

# Clean amenities column
if "amenities" in accommodation_df.columns:
    accommodation_df["amenities"] = (
        accommodation_df["amenities"]
        .astype(str)
        .str.replace(r"\s*,\s*", ",", regex=True)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
        .replace(r"^\s*$", "N/A", regex=True)
    )

# Clean locality / area column
for col in accommodation_df.columns:
    if "locality" in col or "area" in col:
        accommodation_df[col] = (
            accommodation_df[col]
            .astype(str)
            .str.strip()
            .str.lower()
            .replace(r"^\s*$", "N/A", regex=True)
        )

# Preview first 5 rows
print(accommodation_df.head(5))

# Check for duplicate rows
duplicates = accommodation_df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

        city      locality_/_area property_type bedrooms rent_price  \
0  ahmedabad  vaishno devi circle          flat      2.0    28000.0
1  ahmedabad             jagatpur          flat      4.0    50000.0
2  ahmedabad           shantigram          flat      2.0    28000.0
3  ahmedabad             bodakdev          flat      3.0    49000.0
4  ahmedabad           shantigram          flat      3.0    42500.0

  furnishing_status        size  \
0    semi furnished  1214 sq.ft
1    semi furnished  4105 sq.ft
2    semi furnished  1280 sq.ft
3   fully furnished  1965 sq.ft
4    semi furnished  2200 sq.ft

                                           amenities  \
0  24x7 security,children play area,close to jain...
1  school proximity,swimming pool,24x7 security,c...
2  children play area,24x7 security,gymnasium,clo...
3                 lift,parking,power backup,intercom
4                              pool,gym,lift,parking

                  project/owner_name contact_/_listing_link additional_notes
0                       homezy space                    nan              nan
1                      preetam yadav                    nan              nan
2  quality living property solutions                    nan              nan
3        jay dwarkadhish real estate                    nan              nan
4                       j p tripathi                    nan              nan
Number of duplicate rows: 56

In [72]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan

In [73]:
import pandas as pd
import os

# Load your accommodation dataframe as accommodation_df
# Example: accommodation_df = pd.read_csv("your_accommodation_file.csv")

# Folder containing area files
areas_folder = "c:/replit/project/src/data/areas"

# Build a dictionary mapping area names to their listing link (file path)
area_links = {}
for filename in os.listdir(areas_folder):
    if filename.endswith(".ts"):
        area_name = filename.replace(".ts", "").lower()
        area_links[area_name] = os.path.join(areas_folder, filename)

# Set contact_listing_link based on area
def get_listing_link(area):
    area = str(area).strip().lower()
    return area_links.get(area, "N/A")

accommodation_df["contact / listing link"] = accommodation_df["locality_/_area"].apply(get_listing_link)

In [74]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [75]:
# Remove the extra column if it exists
if "contact_listing_link" in accommodation_df.columns:
    accommodation_df.drop(columns=["contact_listing_link"], inplace=True)

In [76]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [77]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [78]:
# Show all column names
print(df.columns)

Index(['restaurant_name', 'platform', 'city', 'cuisine', 'dish', 'price',
       'rating'],
      dtype='object')

In [ ]:
accommodation_df.columns

In [ ]:
# Get all columns named "contact / listing link" ignoring underscores
cols_to_check = [col for col in accommodation_df.columns if 'contact' in col.lower() and 'listing' in col.lower()]

# Keep only the last one
if len(cols_to_check) > 1:
    # Drop all except the last occurrence
    cols_to_drop = cols_to_check[:-1]
    accommodation_df.drop(columns=cols_to_drop, inplace=True)

# Check the columns now
print(accommodation_df.columns)

In [81]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,N/A

In [84]:
# Drop the 'additional_notes' column in place
accommodation_df.drop(columns=['additional_notes'], inplace=True)

In [85]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,N/A

In [8]:
food_df

NameError: name 'food_df' is not defined

In [ ]:
# Replace all NaNs in the accommodation dataframe
accommodation_df.fillna("N/A", inplace=True)

In [20]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [21]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Contact / Listing Link,Additional Notes,image,Listing Link,source_file
0,Ahmedabad,Vaishno Devi Circle,Flat,2 BHK,28000.0,Semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,NaN,NaN,https://housing-images.n7net.in/01c16c28/8280C...,https://housing.com/rent/flats-for-rent-in-vai...,Ahmedabad-with-images.csv
1,Ahmedabad,Jagatpur,Flat,4 BHK,50000.0,Semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,NaN,NaN,NaN,NaN,Ahmedabad-with-images.csv
2,Ahmedabad,Shantigram,Flat,2 BHK,28000.0,Semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",QUALITY LIVING PROPERTY SOLUTIONS,NaN,NaN,NaN,NaN,Ahmedabad-with-images.csv
3,Ahmedabad,Bodakdev,Flat,3 BHK,49000.0,Fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",JAY DWARKADHISH REAL ESTATE,NaN,NaN,NaN,NaN,Ahmedabad-with-images.csv
4,Ahmedabad,Shantigram,Flat,3 BHK,42500.0,Semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,NaN,NaN,NaN,NaN,Ahmedabad-with-images.csv
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,Vesu,Flat,3 BHK,35000,Un-furnished,2050 sq.ft,Parking,Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN,NaN,Surat.csv
1147,Surat,Vesu,Flat,3 BHK,70000,Fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN,NaN,Surat.csv
1148,Surat,Vesu,Flat,3 BHK,48000,Fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN,NaN,Surat.csv
1149,Surat,Vesu,Flat,3 BHK,25000,Un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN,NaN,Surat.csv
1150,Surat,Vesu,Flat,3 BHK,50000,Fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN,NaN,Surat.csv

In [24]:
accommodation_df.drop(columns=['image'], inplace=True)

In [25]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Contact / Listing Link,Additional Notes,Listing Link
0,Ahmedabad,Vaishno Devi Circle,Flat,2 BHK,28000.0,Semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,NaN,NaN,https://housing.com/rent/flats-for-rent-in-vai...
1,Ahmedabad,Jagatpur,Flat,4 BHK,50000.0,Semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,NaN,NaN,NaN
2,Ahmedabad,Shantigram,Flat,2 BHK,28000.0,Semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",QUALITY LIVING PROPERTY SOLUTIONS,NaN,NaN,NaN
3,Ahmedabad,Bodakdev,Flat,3 BHK,49000.0,Fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",JAY DWARKADHISH REAL ESTATE,NaN,NaN,NaN
4,Ahmedabad,Shantigram,Flat,3 BHK,42500.0,Semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,Vesu,Flat,3 BHK,35000,Un-furnished,2050 sq.ft,Parking,Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1147,Surat,Vesu,Flat,3 BHK,70000,Fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1148,Surat,Vesu,Flat,3 BHK,48000,Fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1149,Surat,Vesu,Flat,3 BHK,25000,Un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1150,Surat,Vesu,Flat,3 BHK,50000,Fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN

In [39]:
import pandas as pd

# Suppose accommodation_df is your existing DataFrame

# Dictionary mapping area names to links (all lowercase keys)
area_links = {
    "vastral": "https://housing.com/rent/flats-for-rent-in-vastral-ahmedabad-P4gnkn9shalnddxap",
    "jagatpur": "https://housing.com/rent/flats-for-rent-in-jagatpur-ahmedabad-P2708xydp1er3hhr",
    "shantigram": "https://housing.com/rent/flats-for-rent-in-shantigram-ahmedabad-P6i6aj3czx349iukp",
    "bodakdev":"https://housing.com/rent/flats-for-rent-in-bodakdev-ahmedabad-P5bok8go6td8330wk",
    "bopal": 'https://housing.com/rent/flats-for-rent-in-bopal-ahmedabad-P2segrs0ve5lq248g',
    "ambli":"https://housing.com/rent/flats-for-rent-in-ambli-ahmedabad-P3ol9z4llarvj7lp1",
    "chandkheda":"https://housing.com/rent/flats-for-rent-in-chandkheda-ahmedabad-P9eie2183mex843g",
    "maninagar":"https://housing.com/rent/flats-for-rent-in-maninagar-ahmedabad-P9eie2183mex843g",
    "sanand":"https://housing.com/rent/flats-for-rent-in-sanand-ahmedabad-Paeiny54lsi4n27n",
    "satelite":"https://housing.com/rent/flats-for-rent-in-satellite-ahmedabad-P9eie2183mex843g",
    "paldi":"https://housing.com/rent/flats-for-rent-in-paldi-ahmedabad-P9eie2183mex843g",
    "ramol":"https://housing.com/rent/flats-for-rent-in-ramol-ahmedabad-P73d2dji3c8g8weku",
    "shela":"https://housing.com/rent/flats-for-rent-in-shela-ahmedabad-P38688p4dhunsg8z2",
    "shilaj":"https://housing.com/rent/flats-for-rent-in-shilaj-ahmedabad-P4c1vkx6dcnxy6z4l",
    "sola":"https://housing.com/rent/flats-for-rent-in-sola-ahmedabad-P2anv801vds9n5k4c",
    "tragad":"https://housing.com/rent/flats-for-rent-in-tragad-ahmedabad-P15cmf8r68ffec7n6",
    "Vaishno Devi Circle":"https://housing.com/rent/flats-for-rent-in-vaishno-devi-circle-ahmedabad-P496s5lvmgtft31tf",
    "Vastrapur":"https://housing.com/rent/flats-for-rent-in-vastrapur-ahmedabad-P9eie2183mex843g",
}

# Map links using lowercase comparison
accommodation_df['Listing Link'] = accommodation_df['Locality / Area'].str.lower().map(area_links)

In [38]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Contact / Listing Link,Additional Notes,Listing Link
0,Ahmedabad,Vaishno Devi Circle,Flat,2 BHK,28000.0,Semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,NaN,NaN,NaN
1,Ahmedabad,Jagatpur,Flat,4 BHK,50000.0,Semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,NaN,NaN,https://housing.com/rent/flats-for-rent-in-jag...
2,Ahmedabad,Shantigram,Flat,2 BHK,28000.0,Semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",QUALITY LIVING PROPERTY SOLUTIONS,NaN,NaN,https://housing.com/rent/flats-for-rent-in-sha...
3,Ahmedabad,Bodakdev,Flat,3 BHK,49000.0,Fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",JAY DWARKADHISH REAL ESTATE,NaN,NaN,https://housing.com/rent/flats-for-rent-in-bod...
4,Ahmedabad,Shantigram,Flat,3 BHK,42500.0,Semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,NaN,NaN,https://housing.com/rent/flats-for-rent-in-sha...
...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,Vesu,Flat,3 BHK,35000,Un-furnished,2050 sq.ft,Parking,Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1147,Surat,Vesu,Flat,3 BHK,70000,Fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1148,Surat,Vesu,Flat,3 BHK,48000,Fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1149,Surat,Vesu,Flat,3 BHK,25000,Un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1150,Surat,Vesu,Flat,3 BHK,50000,Fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN

In [41]:
tiffin_df = pd.read_csv("c:/replit/project/dist/data/Food/tifin_rental.csv")

In [66]:
accommodation_df.drop(columns=['Contact / Listing Link'], inplace=True)

In [49]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara
...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN

In [50]:
accommodation_df.fillna({"Listing Link": "Not Available", "Locality / Area": "Unknown"}, inplace=True)

In [51]:
food_df.fillna({"Menu": "Not Available"}, inplace=True)

In [80]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Listing Link,Rating
0,Ahmedabad,vaishno devi circle,flat,2 BHK,28000.0,semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,Not Available,3.9
1,Ahmedabad,jagatpur,flat,4 BHK,50000.0,semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,https://housing.com/rent/flats-for-rent-in-jag...,3.6
2,Ahmedabad,shantigram,flat,2 BHK,28000.0,semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",Quality Living Property Solutions,https://housing.com/rent/flats-for-rent-in-sha...,4.0
3,Ahmedabad,bodakdev,flat,3 BHK,49000.0,fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",Jay Dwarkadhish Real Estate,https://housing.com/rent/flats-for-rent-in-bod...,4.9
4,Ahmedabad,shantigram,flat,3 BHK,42500.0,semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,https://housing.com/rent/flats-for-rent-in-sha...,3.9
...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,vesu,flat,3 BHK,35000,un-furnished,2050 sq.ft,Parking,Builtup Areaun-Furnished\nFurnishing Status,Not Available,3.2
1147,Surat,vesu,flat,3 BHK,70000,fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.6
1148,Surat,vesu,flat,3 BHK,48000,fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areafully Furnished\nFurnishing Status,Not Available,4.8
1149,Surat,vesu,flat,3 BHK,25000,un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areaun-Furnished\nFurnishing Status,Not Available,4.0
1150,Surat,vesu,flat,3 BHK,50000,fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.4

In [53]:
accommodation_df['Locality / Area'] = accommodation_df['Locality / Area'].str.lower()

In [56]:
food_df['city'] = food_df['city'].str.lower()

In [64]:
tiffin_df['City'] = tiffin_df['City'].str.lower()

In [65]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",3.0,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,ahmedabad
1,Gujarati Food And Tiffin Service,3.0,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,3.0,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,3.0,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,ahmedabad
4,Tiffin Tour Services,3.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,vadodara
...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,3.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.0,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,gandhinagar
63,Tiffin Uncle,3.0,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,rajkot
64,Shree Rohini Foods & tiffin service,3.0,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN
65,Maa Bana Tiffin Service,3.0,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN

In [74]:
import pandas as pd
import numpy as np

# Suppose these are your existing DataFrames
# accommodation_df, food_df, tiffin_df

# Option 1: Set default rating

# Option 2: Random ratings between 1 and 5 (for testing)
accommodation_df['Rating'] = np.random.uniform(3.0, 5.0, size=len(accommodation_df))
food_df['Rating'] = np.random.uniform(3.0, 5.0, size=len(food_df))
tiffin_df['Rating'] = np.random.uniform(3.0, 5.0, size=len(tiffin_df))

# Optionally round to 1 decimal place
accommodation_df['Rating'] = accommodation_df['Rating'].round(1)
food_df['Rating'] = food_df['Rating'].round(1)
tiffin_df['Rating'] = tiffin_df['Rating'].round(1)

In [61]:
# Example
accommodation_df['Rating'] = accommodation_df['Rating'].fillna(accommodation_df['Rating'].mean())

In [77]:
tiffin_df

,Name,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City,Rating
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,ahmedabad,4.8
1,Gujarati Food And Tiffin Service,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,ahmedabad,3.8
2,Aarti Tiffin Service - Best Tiffin Service,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,ahmedabad,4.5
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,ahmedabad,3.7
4,Tiffin Tour Services,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,vadodara,4.0
...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,ahmedabad,4.0
62,Annapurna Tiffin Service - Gandhinagar,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,gandhinagar,3.4
63,Tiffin Uncle,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,rajkot,3.0
64,Shree Rohini Foods & tiffin service,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,3.2
65,Maa Bana Tiffin Service,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,3.4

In [72]:
food_df.drop(columns=['Rating'], inplace=True)

In [78]:
accommodation_df['Locality / Area'] = accommodation_df['Locality / Area'].str.lower()
accommodation_df['Property Type'] = accommodation_df['Property Type'].str.lower()
accommodation_df['Furnishing Status'] = accommodation_df['Furnishing Status'].str.lower()
accommodation_df['Project/Owner Name'] = accommodation_df['Project/Owner Name'].str.title()

food_df['city'] = food_df['city'].str.lower()
food_df['restaurant_name'] = food_df['restaurant_name'].str.title()
food_df['cuisine'] = food_df['cuisine'].str.lower()
food_df['dish'] = food_df['dish'].str.lower()

tiffin_df['City'] = tiffin_df['City'].str.lower()
tiffin_df['Name'] = tiffin_df['Name'].str.title()
tiffin_df['Type'] = tiffin_df['Type'].str.lower()

In [79]:
accommodation_df['Listing Link'].fillna("Not Available", inplace=True)
accommodation_df['Rent Price'].fillna(accommodation_df['Rent Price'].median(), inplace=True)

food_df['price'].fillna(food_df['price'].median(), inplace=True)
food_df['cuisine'].fillna("Not Available", inplace=True)

tiffin_df['Estimated_Price_Per_Tiffin_INR'].fillna("Not Available", inplace=True)
tiffin_df['Reviews'].fillna(0, inplace=True)

C:\Users\Isha patel\AppData\Local\Temp\ipykernel_18208\3482699242.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  accommodation_df['Listing Link'].fillna("Not Available", inplace=True)

TypeError: could not convert string to float: 'Rent Price'

In [85]:
accommodation_df['Rent Price'] = accommodation_df['Rent Price'].fillna(accommodation_df['Rent Price'].median())

In [88]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Listing Link,Rating
0,Ahmedabad,vaishno devi circle,flat,2 BHK,28000.0,semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,Not Available,3.9
1,Ahmedabad,jagatpur,flat,4 BHK,50000.0,semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,https://housing.com/rent/flats-for-rent-in-jag...,3.6
2,Ahmedabad,shantigram,flat,2 BHK,28000.0,semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",Quality Living Property Solutions,https://housing.com/rent/flats-for-rent-in-sha...,4.0
3,Ahmedabad,bodakdev,flat,3 BHK,49000.0,fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",Jay Dwarkadhish Real Estate,https://housing.com/rent/flats-for-rent-in-bod...,4.9
4,Ahmedabad,shantigram,flat,3 BHK,42500.0,semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,https://housing.com/rent/flats-for-rent-in-sha...,3.9
...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,vesu,flat,3 BHK,35000.0,un-furnished,2050 sq.ft,Parking,Builtup Areaun-Furnished\nFurnishing Status,Not Available,3.2
1147,Surat,vesu,flat,3 BHK,70000.0,fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.6
1148,Surat,vesu,flat,3 BHK,48000.0,fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areafully Furnished\nFurnishing Status,Not Available,4.8
1149,Surat,vesu,flat,3 BHK,25000.0,un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areaun-Furnished\nFurnishing Status,Not Available,4.0
1150,Surat,vesu,flat,3 BHK,50000.0,fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.4

In [87]:
food_df['price'] = food_df['price'].fillna(food_df['price'].median())
accommodation_df['Listing Link'] = accommodation_df['Listing Link'].fillna("Not Available")

In [91]:
food_df['price'] = food_df['price'].fillna(food_df['price'].median())
food_df['cuisine'] = food_df['cuisine'].fillna("Not Available")

In [92]:
tiffin_df['Estimated_Price_Per_Tiffin_INR']=tiffin_df['Estimated_Price_Per_Tiffin_INR'].fillna("Not Available")
tiffin_df['Reviews']=tiffin_df['Reviews'].fillna(0)

In [96]:
def price_range(price):
    try:
        price = float(price)
        if price <= 500: return 'low'
        elif price <= 1000: return 'medium'
        else: return 'high'
    except:
        return 'unknown'

# Accommodation
accommodation_df['Tags'] = 'accommodation'
accommodation_df['Price Range'] = accommodation_df['Rent Price'].apply(price_range)

food_df['Tags'] = 'food'
food_df['Price Range'] = food_df['price'].apply(price_range)


# Tiffin
tiffin_df['Tags'] = 'tiffin'
# Extract approximate average price from the range string
def tiffin_avg_price(price_str):
    try:
        numbers = [int(s.replace('‚Çπ','')) for s in price_str.replace(' ','').split('-')]
        return np.mean(numbers)
    except:
        return 0
tiffin_df['Avg Price'] = tiffin_df['Estimated_Price_Per_Tiffin_INR'].apply(tiffin_avg_price)
tiffin_df['Price Range'] = tiffin_df['Avg Price'].apply(price_range)

In [97]:
print("Accommodation Sample:")
print(accommodation_df.head())
print("\nFood Sample:")
print(food_df.head())
print("\nTiffin Sample:")
print(tiffin_df.head())

Accommodation Sample:
        City      Locality / Area Property Type Bedrooms  Rent Price  \
0  Ahmedabad  vaishno devi circle          flat    2 BHK     28000.0
1  Ahmedabad             jagatpur          flat    4 BHK     50000.0
2  Ahmedabad           shantigram          flat    2 BHK     28000.0
3  Ahmedabad             bodakdev          flat    3 BHK     49000.0
4  Ahmedabad           shantigram          flat    3 BHK     42500.0

  Furnishing Status        Size  \
0    semi furnished  1214 sq.ft
1    semi furnished  4105 sq.ft
2    semi furnished  1280 sq.ft
3   fully furnished  1965 sq.ft
4    semi furnished  2200 sq.ft

                                           Amenities  \
0  24x7 Security, Children Play Area, Close to Ja...
1  School Proximity, Swimming Pool, 24x7 Security...
2  Children Play Area, 24x7 Security, Gymnasium, ...
3              Lift, Parking, Power Backup, Intercom
4                           Pool, Gym, Lift, Parking

                  Project/Owner Name  \
0                       Homezy Space
1                      Preetam Yadav
2  Quality Living Property Solutions
3        Jay Dwarkadhish Real Estate
4                       J P Tripathi

                                        Listing Link  Rating           Tags  \
0                                      Not Available     3.9  accommodation
1  https://housing.com/rent/flats-for-rent-in-jag...     3.6  accommodation
2  https://housing.com/rent/flats-for-rent-in-sha...     4.0  accommodation
3  https://housing.com/rent/flats-for-rent-in-bod...     4.9  accommodation
4  https://housing.com/rent/flats-for-rent-in-sha...     3.9  accommodation

  Price Range
0        high
1        high
2        high
3        high
4        high

Food Sample:
  restaurant_name platform       city        cuisine  \
0             Kfc   swiggy  ahmedabad  Not Available
1             Kfc   swiggy  ahmedabad  Not Available
2             Kfc   swiggy  ahmedabad  Not Available
3             Kfc   swiggy  ahmedabad  Not Available
4             Kfc   swiggy  ahmedabad  Not Available

                                      dish  price  rating  Rating  Tags  \
0  peri peri strips & popcorn party bucket  599.0     0.0     3.2  food
1      chill squad strips & mojito platter  419.0     0.0     3.1  food
2          classic chicken roll buddy meal  499.0     0.0     3.7  food
3          tandoori roll & zinger pop meal  419.0     0.0     3.1  food
4              veggie vibe zinger duo meal  589.0     0.0     4.0  food

  Price Range
0      medium
1         low
2         low
3         low
4      medium

Tiffin Sample:
                                                Name  Reviews  \
0  Home Made Tiffin Service, Gujarati Tiffin Serv...       62
1                   Gujarati Food And Tiffin Service       39
2         Aarti Tiffin Service - Best Tiffin Service      409
3  Jay Siyaram Parcel Point (Porbandar Vala) | Be...       52
4                               Tiffin Tour Services      159

                      Type Estimated_Price_Per_Tiffin_INR  \
0  tiffin service provider                     ‚Çπ70 - ‚Çπ120
1  tiffin service provider                     ‚Çπ70 - ‚Çπ120
2  tiffin service provider                    ‚Çπ100 - ‚Çπ135
3  tiffin service provider                     ‚Çπ70 - ‚Çπ120
4  tiffin service provider                     ‚Çπ70 - ‚Çπ120

                                             Address                   Hours  \
0                   495, Prabhugokals Pole, Kachwada     Open ‚ãÖ Closes 10 pm
1                   B-32 Rajchandra soc, Kathwada Rd  Open ‚ãÖ Closes 9 am Wed
2  Shiv Aashish Flat, E1, Chandola Canal Garden R...      Open ‚ãÖ Closes 8 pm
3                             Sahjanand City, 103 B1      Open ‚ãÖ Closes 9 pm
4  Vinayak Enclave, B 101, Krunal char Rasta, opp...      Open ‚ãÖ Closes 8 pm

        City  Rating    Tags  Avg Price Price Range
0  ahmedabad     4.8  tiffin       95.0         low
1  ahmedabad     3.8  tiffin       95.0         low
2  ahmedabad     4.5  tiffin      117.5         low
3  ahmedabad     3.7  tiffin       95.0         low
4   vadodara     4.0  tiffin       95.0         low

making system

In [104]:
import pandas as pd
from supabase import create_client, Client

# ------------------ SUPABASE CONFIG ------------------
SUPABASE_URL = "https://iecothmegflxbpvndnru.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NzQ1ODUsImV4cCI6MjA3NDU1MDU4NX0.I4zmPYXfyqNA3ajhyAJlJ5yCLekNWo491BPUDOfcUeI"
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

# ------------------ HELPER FUNCTION TO FETCH WISHLIST ------------------
def get_user_wishlist(user_id: str):
    """
    Fetch wishlist items from Supabase for a given user.
    Returns a list of dictionaries.
    """
    response = supabase.table("wishlists").select("service_id, service_data").eq("user_id", user_id).execute()
    
    if response.error:
        print("Error fetching wishlist:", response.error)
        return []
    
    wishlist_items = []
    for item in response.data:
        entry = item.get("service_data", {})
        entry['service_id'] = item.get("service_id")
        wishlist_items.append(entry)
    return wishlist_items

# ------------------ RECOMMENDATION FUNCTION ------------------
def recommend_from_wishlist(wishlist_items, accommodation_df, food_df, tiffin_df, top_n=5):
    recommendations = []

    for item in wishlist_items:
        tag = item.get("Tags", "").lower()
        area = item.get("Area/City", "").lower()
        preference = item.get("Preference", "").lower()

        if tag == "accommodation":
            filtered = accommodation_df[accommodation_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['Locality / Area'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[
                    filtered['Property Type'].str.lower().str.contains(preference) |
                    filtered['Bedrooms'].str.lower().str.contains(preference)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)
        
        elif tag == "food":
            filtered = food_df[food_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['city'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[
                    filtered['restaurant_name'].str.lower().str.contains(preference) |
                    filtered['dish'].str.lower().str.contains(preference)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

        elif tag == "tiffin":
            filtered = tiffin_df[tiffin_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['City'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[filtered['Name'].str.lower().str.contains(preference)]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

    if recommendations:
        final_recommendations = pd.concat(recommendations).drop_duplicates().reset_index(drop=True)
        return final_recommendations
    else:
        return pd.DataFrame()

# ------------------ EXAMPLE USAGE ------------------
if __name__ == "__main__":
    # Get logged-in user
    auth_response = supabase.auth.get_user()
    user = auth_response.get('data', {}).get('user') if auth_response else None

    if not user:
        print("No user logged in")
    else:
        user_id = user.get('id')  # UUID
        wishlist_items = get_user_wishlist(user_id)
        print("User Wishlist:", wishlist_items)


        # Generate recommendations
        recommendations = recommend_from_wishlist(
            wishlist_items, 
            accommodation_df, 
            food_df, 
            tiffin_df,
            top_n=5
        )
        print("Recommendations:")
        print(recommendations)

No user logged in

In [107]:
import pandas as pd
import numpy as np
from supabase import create_client, Client

# ------------------ SUPABASE CONFIG ------------------
SUPABASE_URL = "https://iecothmegflxbpvndnru.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NzQ1ODUsImV4cCI6MjA3NDU1MDU4NX0.I4zmPYXfyqNA3ajhyAJlJ5yCLekNWo491BPUDOfcUeI"
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

# ------------------ LOAD DATAFRAMES ------------------
# Assuming the DataFrames are preprocessed as per the Untitled.ipynb notebook
# In the notebook, accommodation_df, food_df, tiffin_df are already loaded and cleaned.
# For this script, assume they are available (e.g., imported or defined elsewhere).
# If running standalone, load them here (adjust paths as needed)

# Accommodation
# accommodation_df = ... (already defined in notebook)

# Food
# food_df = ... (already defined in notebook)

# Tiffin
# tiffin_df = ... (already defined in notebook)

# ------------------ HELPER FUNCTION TO FETCH WISHLIST ------------------
def get_user_wishlist(user_id: str):
    """
    Fetch wishlist items from Supabase for a given user.
    Returns a list of dictionaries.
    """
    response = supabase.table("wishlists").select("service_id, service_data").eq("user_id", user_id).execute()

    if response.error:
        print("Error fetching wishlist:", response.error)
        return []

    wishlist_items = []
    for item in response.data:
        entry = item.get("service_data", {})
        entry['service_id'] = item.get("service_id")
        wishlist_items.append(entry)
    return wishlist_items

# ------------------ RECOMMENDATION FUNCTION ------------------
def recommend_from_wishlist(wishlist_items, accommodation_df, food_df, tiffin_df, top_n=5):
    recommendations = []

    for item in wishlist_items:
        tag = item.get("Tags", "").lower()
        area = item.get("Area/City", "").lower()
        preference = item.get("Preference", "").lower()

        if tag == "accommodation":
            filtered = accommodation_df[accommodation_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['Locality / Area'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[
                    filtered['Property Type'].str.lower().str.contains(preference) |
                    filtered['Bedrooms'].str.lower().str.contains(preference)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

        elif tag == "food":
            filtered = food_df[food_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['city'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[
                    filtered['restaurant_name'].str.lower().str.contains(preference) |
                    filtered['dish'].str.lower().str.contains(preference)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

        elif tag == "tiffin":
            filtered = tiffin_df[tiffin_df['Tags'].str.lower() == tag]
            if area:
                filtered = filtered[filtered['City'].str.lower().str.contains(area)]
            if preference:
                filtered = filtered[filtered['Name'].str.lower().str.contains(preference)]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

    if recommendations:
        final_recommendations = pd.concat(recommendations).drop_duplicates().reset_index(drop=True)
        return final_recommendations
    else:
        return pd.DataFrame()

# ------------------ EXAMPLE USAGE ------------------
if __name__ == "__main__":
    # For testing, use a sample user_id (replace with actual user_id from your app)
    SAMPLE_USER_ID = "your-sample-user-uuid-here"  # Replace with a real user ID from Supabase

    wishlist_items = get_user_wishlist(SAMPLE_USER_ID)
    print("User Wishlist:", wishlist_items)

    # Generate recommendations
    recommendations = recommend_from_wishlist(
        wishlist_items,
        accommodation_df,
        food_df,
        tiffin_df,
        top_n=5
    )
    print("Recommendations:")
    print(recommendations)

    # If no wishlist, test with sample items
    if not wishlist_items:
        sample_wishlist = [
            {"Tags": "accommodation", "Area/City": "vastral", "Preference": "2 BHK"},
            {"Tags": "food", "Area/City": "ahmedabad", "Preference": "pizza"},
            {"Tags": "tiffin", "Area/City": "ahmedabad", "Preference": "gujarati"}
        ]
        print("\nTesting with sample wishlist:")
        sample_recs = recommend_from_wishlist(sample_wishlist, accommodation_df, food_df, tiffin_df, top_n=5)
        print(sample_recs)

APIError: {'message': 'invalid input syntax for type uuid: "your-sample-user-uuid-here"', 'code': '22P02', 'hint': None, 'details': None}

In [108]:
const wishlistItems = await UserStorage.getWishlistItemsFromDB();
console.log("User Wishlist:", wishlistItems);

SyntaxError: invalid syntax (1274733154.py, line 1)

In [109]:
#final

In [112]:
import pandas as pd
from supabase import create_client, Client

# ------------------ SUPABASE CONFIG ------------------
SUPABASE_URL = "https://iecothmegflxbpvndnru.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NzQ1ODUsImV4cCI6MjA3NDU1MDU4NX0.I4zmPYXfyqNA3ajhyAJlJ5yCLekNWo491BPUDOfcUeI"

supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

# ------------------ FETCH USER WISHLIST ------------------
def get_user_wishlist(user_id: str):
    """
    Fetch wishlist items for the given user_id from Supabase.
    """
    response = supabase.table("wishlists").select("*").eq("user_id", user_id).execute()

    if hasattr(response, "error") and response.error:
        print("Error fetching wishlist:", response.error)
        return []

    wishlist_data = response.data or []
    print(f"‚úÖ Found {len(wishlist_data)} items in wishlist for user {user_id}")
    return wishlist_data


# ------------------ RECOMMENDATION FUNCTION ------------------
def recommend_from_wishlist(wishlist_items, accommodation_df, food_df, tiffin_df, top_n=5):
    recommendations = []

    for item in wishlist_items:
        tag = str(item.get("Tags", "")).lower()
        area = str(item.get("Area/City", "")).lower()
        preference = str(item.get("Preference", "")).lower()

        # üè® Accommodation-based recommendations
        if tag == "accommodation":
            filtered = accommodation_df.copy()
            if area:
                filtered = filtered[filtered['Locality / Area'].str.lower().str.contains(area, na=False)]
            if preference:
                filtered = filtered[
                    filtered['Property Type'].str.lower().str.contains(preference, na=False) |
                    filtered['Bedrooms'].astype(str).str.lower().str.contains(preference, na=False)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

        # üçΩÔ∏è Food-based recommendations
        elif tag == "food":
            filtered = food_df.copy()
            if area:
                filtered = filtered[filtered['city'].str.lower().str.contains(area, na=False)]
            if preference:
                filtered = filtered[
                    filtered['restaurant_name'].str.lower().str.contains(preference, na=False) |
                    filtered['dish'].str.lower().str.contains(preference, na=False)
                ]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

        # üç± Tiffin-based recommendations
        elif tag == "tiffin":
            filtered = tiffin_df.copy()
            if area:
                filtered = filtered[filtered['City'].str.lower().str.contains(area, na=False)]
            if preference:
                filtered = filtered[filtered['Name'].str.lower().str.contains(preference, na=False)]
            filtered = filtered.sort_values(by='Rating', ascending=False).head(top_n)
            recommendations.append(filtered)

    if recommendations:
        return pd.concat(recommendations).drop_duplicates().reset_index(drop=True)
    else:
        print("‚ö†Ô∏è No recommendations found for the current wishlist.")
        return pd.DataFrame()


# ------------------ MAIN ------------------
if __name__ == "__main__":
    # üîê Get currently logged-in user
    try:
        auth_response = supabase.auth.get_user()
        user_data = getattr(auth_response, "user", None) or getattr(auth_response, "data", None)
    except Exception as e:
        print("‚ö†Ô∏è Error fetching user info:", e)
        user_data = None

    if not user_data:
        print("üö´ No user logged in ‚Äî please authenticate in your app first.")
    else:
        user_id = user_data.get("id") if isinstance(user_data, dict) else getattr(user_data, "id", None)
        print(f"üë§ Logged in user ID: {user_id}")

        # Fetch wishlist data
        wishlist_items = get_user_wishlist(user_id)

        if wishlist_items:
            # Generate recommendations
            recommendations = recommend_from_wishlist(
                wishlist_items, accommodation_df, food_df, tiffin_df, top_n=5
            )
            print("\nüéØ Recommended Services Based on Your Wishlist:\n")
            print(recommendations[['Name', 'Area/City', 'Rating']].head(10))
        else:
            print("Your wishlist is empty.")

üö´ No user logged in ‚Äî please authenticate in your app first.

In [117]:
import pandas as pd
import os

# Example: your preprocessed DataFrame
# accommodation_df = pd.DataFrame({...})

# Define folder path
folder_path = r"C:\replit\project\AI"


# Create folder if it doesn't exist
os.makedirs(folder_path, exist_ok=True)

# Save the DataFrame as pickle inside that folder
file_path = os.path.join(folder_path, "tiffin_df.pkl")
accommodation_df.to_pickle(file_path)

print(f"Saved accommodation_df to {file_path}")

Saved accommodation_df to C:\replit\project\AI\tiffin_df.pkl