In [3]:
from google import genai

In [83]:
import os
import pandas as pd

client = genai.Client(api_key="AIzaSyCmB225fLbd2Jp2Jd5R5K8Rse7atXBn1J0")
chat = client.chats.create(model="gemini-2.0-flash")
# --- Set folder paths (based on your structure) ---
accommodation_path = "c:/replit/project/dist/data/Accomodation"
food_path = "c:/replit/project/dist/data/Food"

# --- Helper function to load all CSVs from a folder ---
def load_all_csv(folder_path):
    all_files = [os.path.join(folder_path, f) for f in os.listdir(folder_path) if f.endswith(".csv")]
    df_list = []
    
    for file in all_files:
        try:
            df = pd.read_csv(file)
            df['source_file'] = os.path.basename(file)  # To identify from which file the data came
            df_list.append(df)
            print(f"‚úÖ Loaded: {file} ({len(df)} rows)")
        except Exception as e:
            print(f"‚ö†Ô∏è Error loading {file}: {e}")
    
    if df_list:
        combined_df = pd.concat(df_list, ignore_index=True)
        print(f"\nüìä Combined Data: {len(combined_df)} total rows from {len(df_list)} files.\n")
        return combined_df
    else:
        print("‚ùå No CSV files found.")
        return pd.DataFrame()

# --- Load accommodation and food data ---
print("üè† Loading accommodation data...")
accommodation_df = load_all_csv(accommodation_path)

print("\nüçî Loading food data...")
food_df = load_all_csv(food_path)

# --- Summarize Accommodation Data ---
sample_accommodation = accommodation_df.head(10).to_csv(index=False)

summary_prompt_accommodation = f"""
You are a data analyst. Here is some accommodation data:
{sample_accommodation}

Please summarize it:
- Mention average rent price (if visible)
- Common localities or areas
- Common property types
- Any interesting insights
"""

res1 = chat.send_message(summary_prompt_accommodation)
print("\nüè† Accommodation Summary:\n", res1.text)

# --- Summarize Food Data ---
sample_food = food_df.head(10).to_csv(index=False)

summary_prompt_food = f"""
You are a food data analyst. Here is some restaurant and food data:
{sample_food}

Please summarize it:
- Mention popular dishes or categories
- Average price range
- Rating trends (if available)
- Any other interesting insights
"""

res2 = chat.send_message(summary_prompt_food)
print("\nüçî Food Summary:\n", res2.text)

üè† Loading accommodation data...
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Ahmedabad-with-images.csv (245 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Ahmedabad.csv (244 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Baroda.csv (195 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Gandhinagar.csv (157 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Rajkot.csv (107 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Accomodation\Surat.csv (203 rows)

üìä Combined Data: 1151 total rows from 6 files.


üçî Loading food data...
‚úÖ Loaded: c:/replit/project/dist/data/Food\gujrat_food.csv (500 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Food\swiggy_Ahm.csv (10185 rows)
‚úÖ Loaded: c:/replit/project/dist/data/Food\tifin_rental.csv (66 rows)

üìä Combined Data: 10751 total rows from 3 files.


üè† Accommodation Summary:
 Okay, here's a summary of the Ahmedabad accommodation data you provided:

**Summary:**

*   **Average Rent Price:** Based on the provided data, the average rent price is approximately ‚Çπ41,749.
*   **Common Localities/Areas:** Shantigram appears to be a common locality in this dataset, with 3 listings. Other mentioned localities are Vaishno Devi Circle, Jagatpur, Bodakdev, Makarba, Motera, Bopal, and Chandkheda.
*   **Common Property Types:** Flat is the most frequent property type. There is one listing of Independent Builder Floor
*   **Furnishing Status:** Semi furnished is more common, but fully furnished is also present.

**Interesting Insights:**

*   **Shantigram's Popularity:** The prevalence of listings in Shantigram suggests it could be a popular residential area, potentially due to its amenities, connectivity, or overall appeal.
*   **Variety in Amenities:** The "Amenities" column shows a range of features being offered, from basic security and parking to more premium options like swimming pools, gyms, and landscaped gardens. This likely reflects a range of price points and target demographics.
*   **Dominance of Flats:** The accommodation options shown were primarily flats suggesting this data might focus on apartment-style living in Ahmedabad.
*   **Property Size:** The property size varies from 1206 sq. ft. to 4105 sq. ft.


üçî Food Summary:
 Okay, here's a summary of the Gujarat restaurant and food data you provided:

**Summary:**

*   **Popular Dishes/Categories:** The most frequent cuisines listed are Fast Food, Continental and Italian. Example dishes mentioned include: Fries, Steak Sandwich, Fish and Chips, Pasta Primavera, Dal Makhani, Rasmalai, Garlic Bread, Pasta Alfredo, Veg Wrap, Cheesy Burger.
*   **Average Price Range:** The prices in the dataset range from ‚Çπ133.0 to ‚Çπ692.0. The average price can be estimated as ‚Çπ373.
*   **Rating Trends:** The ratings range from 3.4 to 4.5. The average rating is approximately 3.82. This indicates generally positive feedback for the dishes and restaurants in this dataset.
*   **Popular Platform:** UberEats seems to be a popular choice for ordering from the restaurants listed.

**Interesting Insights:**

*   **Cuisine Variety:** Although Fast Food, Continental and Italian are the dominant cuisines, there's some variety with North Indian and Dessert options as well.
*   **Rajkot Dominance:** It is seen that the Rajkot city has a large number of restaurant listings in the data.
*   **Moderate Pricing:** The average price of ‚Çπ373 suggests a moderately priced range of food options, likely catering to a broad customer base.
*   **Good Customer Satisfaction:** The average rating of 3.82 indicates generally positive customer satisfaction, suggesting that the food and service quality are reasonably good in the restaurants listed.
*   **Data Source Variety:** The data comes from multiple platforms (Swiggy, Zomato, UberEats), offering a broader perspective on restaurant options and customer preferences.

In [5]:
# --- Interactive chatbot for recommendations ---
print("\nü§ñ AI Chatbot Ready! Type 'exit' to stop.\n")

while True:
    query = input("üí¨ Ask something: ")
    if query.lower() == "exit":
        print("üëã Chat ended.")
        break

    # --- Accommodation queries ---
    if any(word in query.lower() for word in ["flat", "rent", "house", "home", "accommodation"]):
        # Detect location
        location_keywords = ["ahmedabad", "surat", "vadodara", "rajkot", "vastral", "bopal", "shantigram", "bodakdev"]
        found_location = None
        for loc in location_keywords:
            if loc in query.lower():
                found_location = loc
                break

        if found_location:
            filtered = accommodation_df[
                accommodation_df.apply(
                    lambda row: (
                        (pd.notna(row.get("City")) and found_location.lower() in str(row["City"]).lower())
                        or (pd.notna(row.get("Locality / Area")) and found_location.lower() in str(row["Locality / Area"]).lower())
                    ),
                    axis=1
                )
            ]
        else:
            filtered = accommodation_df.head(10)

        if not filtered.empty:
            data_text = filtered.head(5).to_string(index=False)
            prompt = f"User asked: {query}\nHere are some matching accommodation listings:\n{data_text}\nRespond helpfully based on the results."
            res = chat.send_message(prompt)
            print("\nüè† Response:\n", res.text)
        else:
            res = chat.send_message(f"There are no results for {found_location} in this dataset. Respond politely.")
            print("\nüè† Response:\n", res.text)

    # --- Food queries ---
    elif any(word in query.lower() for word in ["food", "restaurant", "tiffin", "dish", "meal"]):
        filtered = food_df.head(5)  # Later, you can filter based on city or price
        data_text = filtered.to_string(index=False)
        prompt = f"User asked: {query}\nHere are some sample food/restaurant records:\n{data_text}\nNow answer the user‚Äôs query clearly and helpfully."
        res = chat.send_message(prompt)
        print("\nüçî Response:\n", res.text)

    # --- Default general queries ---
    else:
        res = chat.send_message(query)
        print("\nü§ñ Gemini:\n", res.text)

ü§ñ AI Chatbot Ready! Type 'exit' to stop.

üëã Chat ended.

In [6]:
#PREPROCESSING

In [84]:
import pandas as pd

# Accommodation CSVs
accommodation_files = ["c:/replit/project/dist/data/Accomodation/Ahmedabad.csv", "c:/replit/project/dist/data/Accomodation/Surat.csv", "c:/replit/project/dist/data/Accomodation/Rajkot.csv", "c:/replit/project/dist/data/Accomodation/Baroda.csv", "c:/replit/project/dist/data/Accomodation/Gandhinagar.csv"]
accommodation_df = pd.concat([pd.read_csv(f) for f in accommodation_files], ignore_index=True)

# Food CSV
food_files = ["c:/replit/project/dist/data/Food/gujrat_food.csv","c:/replit/project/dist/data/Food/swiggy_Ahm.csv"]
food_df = pd.concat([pd.read_csv(f) for f in food_files], ignore_index=True)


# Tiffin CSV
tiffin_df = pd.read_csv("c:/replit/project/dist/data/Food/tifin_rental.csv")

In [85]:
import pandas as pd

# Load CSVs
swiggy_df = pd.read_csv("c:/replit/project/dist/data/Food/swiggy_Ahm.csv")
gujarat_df = pd.read_csv("c:/replit/project/dist/data/Food/gujrat_food.csv")

# Standardize Swiggy columns
swiggy_df = swiggy_df.rename(columns={
    "Restaurant Name": "restaurant_name",
    "State": "state",
    "City": "city",
    "Location": "location",
    "Category": "cuisine",
    "Dish Name": "dish",
    "Price (INR)": "price",
    "Rating": "rating",
    "Rating Count": "rating_count"
})
swiggy_df["platform"] = "swiggy"
swiggy_df["item_name"] = swiggy_df["dish"]

# Standardize Gujarat columns
gujarat_df = gujarat_df.rename(columns={
    "primary_cuisine": "cuisine",
    "item_name": "dish"
})

# Add missing columns to both
for col in ["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]:
    if col not in swiggy_df.columns:
        swiggy_df[col] = "N/A"
    if col not in gujarat_df.columns:
        gujarat_df[col] = "N/A"

# Select only standardized columns
swiggy_df = swiggy_df[["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]]
gujarat_df = gujarat_df[["restaurant_name", "platform", "city", "cuisine", "dish", "price", "rating"]]

# Clean string columns: strip and lowercase
for df in [swiggy_df, gujarat_df]:
    for col in ["restaurant_name", "platform", "city", "cuisine", "dish"]:
        df[col] = df[col].astype(str).str.strip().str.lower()
    # Fill missing values
    df.fillna("N/A", inplace=True)

# Combine
food_df = pd.concat([swiggy_df, gujarat_df], ignore_index=True)

# Preview

In [86]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [87]:
import pandas as pd
import re

# List of CSV files
accommodation_files = [
    "c:/replit/project/dist/data/Accomodation/Ahmedabad.csv",
    "c:/replit/project/dist/data/Accomodation/Surat.csv",
    "c:/replit/project/dist/data/Accomodation/Rajkot.csv",
    "c:/replit/project/dist/data/Accomodation/Baroda.csv",
    "c:/replit/project/dist/data/Accomodation/Gandhinagar.csv"
]

# Load and combine all CSVs
df_list = [pd.read_csv(f) for f in accommodation_files]
accommodation_df = pd.concat(df_list, ignore_index=True)

# Standardize column names
accommodation_df.columns = [col.strip().replace(" ", "_").lower() for col in accommodation_df.columns]

# Clean string columns
for col in accommodation_df.select_dtypes(include="object").columns:
    accommodation_df[col] = (
        accommodation_df[col]
        .astype(str)
        .str.strip()
        .str.lower()
        .replace(r"^\s*$", "N/A", regex=True)
    )

# Fill missing values
accommodation_df.fillna("N/A", inplace=True)

# Clean rent_price and bedrooms columns
def clean_numeric(val):
    val = re.sub(r"[^\d.]", "", str(val))
    return pd.to_numeric(val, errors="coerce")

if "rent_price" in accommodation_df.columns:
    accommodation_df["rent_price"] = accommodation_df["rent_price"].apply(clean_numeric).fillna("N/A")
if "bedrooms" in accommodation_df.columns:
    accommodation_df["bedrooms"] = accommodation_df["bedrooms"].apply(clean_numeric).fillna("N/A")

# Clean amenities column
if "amenities" in accommodation_df.columns:
    accommodation_df["amenities"] = (
        accommodation_df["amenities"]
        .astype(str)
        .str.replace(r"\s*,\s*", ",", regex=True)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
        .replace(r"^\s*$", "N/A", regex=True)
    )

# Clean locality / area column
for col in accommodation_df.columns:
    if "locality" in col or "area" in col:
        accommodation_df[col] = (
            accommodation_df[col]
            .astype(str)
            .str.strip()
            .str.lower()
            .replace(r"^\s*$", "N/A", regex=True)
        )

# Preview first 5 rows
print(accommodation_df.head(5))

# Check for duplicate rows
duplicates = accommodation_df.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

        city      locality_/_area property_type bedrooms rent_price  \
0  ahmedabad  vaishno devi circle          flat      2.0    28000.0
1  ahmedabad             jagatpur          flat      4.0    50000.0
2  ahmedabad           shantigram          flat      2.0    28000.0
3  ahmedabad             bodakdev          flat      3.0    49000.0
4  ahmedabad           shantigram          flat      3.0    42500.0

  furnishing_status        size  \
0    semi furnished  1214 sq.ft
1    semi furnished  4105 sq.ft
2    semi furnished  1280 sq.ft
3   fully furnished  1965 sq.ft
4    semi furnished  2200 sq.ft

                                           amenities  \
0  24x7 security,children play area,close to jain...
1  school proximity,swimming pool,24x7 security,c...
2  children play area,24x7 security,gymnasium,clo...
3                 lift,parking,power backup,intercom
4                              pool,gym,lift,parking

                  project/owner_name contact_/_listing_link additional_notes
0                       homezy space                    nan              nan
1                      preetam yadav                    nan              nan
2  quality living property solutions                    nan              nan
3        jay dwarkadhish real estate                    nan              nan
4                       j p tripathi                    nan              nan
Number of duplicate rows: 56

In [88]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan

In [89]:
import pandas as pd
import os

# Load your accommodation dataframe as accommodation_df
# Example: accommodation_df = pd.read_csv("your_accommodation_file.csv")

# Folder containing area files
areas_folder = "c:/replit/project/src/data/areas"

# Build a dictionary mapping area names to their listing link (file path)
area_links = {}
for filename in os.listdir(areas_folder):
    if filename.endswith(".ts"):
        area_name = filename.replace(".ts", "").lower()
        area_links[area_name] = os.path.join(areas_folder, filename)

# Set contact_listing_link based on area
def get_listing_link(area):
    area = str(area).strip().lower()
    return area_links.get(area, "N/A")

accommodation_df["contact / listing link"] = accommodation_df["locality_/_area"].apply(get_listing_link)

In [90]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [91]:
# Remove the extra column if it exists
if "contact_listing_link" in accommodation_df.columns:
    accommodation_df.drop(columns=["contact_listing_link"], inplace=True)

In [92]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [16]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact_/_listing_link,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,nan,N/A

In [17]:
# Show all column names
print(df.columns)

Index(['restaurant_name', 'platform', 'city', 'cuisine', 'dish', 'price',
       'rating'],
      dtype='object')

In [18]:
accommodation_df.columns

Index(['city', 'locality_/_area', 'property_type', 'bedrooms', 'rent_price',
       'furnishing_status', 'size', 'amenities', 'project/owner_name',
       'contact_/_listing_link', 'additional_notes', 'contact / listing link'],
      dtype='object')

In [93]:
# Get all columns named "contact / listing link" ignoring underscores
cols_to_check = [col for col in accommodation_df.columns if 'contact' in col.lower() and 'listing' in col.lower()]

# Keep only the last one
if len(cols_to_check) > 1:
    # Drop all except the last occurrence
    cols_to_drop = cols_to_check[:-1]
    accommodation_df.drop(columns=cols_to_drop, inplace=True)

# Check the columns now
print(accommodation_df.columns)

Index(['city', 'locality_/_area', 'property_type', 'bedrooms', 'rent_price',
       'furnishing_status', 'size', 'amenities', 'project/owner_name',
       'additional_notes', 'contact / listing link'],
      dtype='object')

In [94]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,additional_notes,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,nan,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,nan,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,nan,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,nan,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,nan,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,nan,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,nan,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,nan,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,nan,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,nan,N/A

In [95]:
# Drop the 'additional_notes' column in place
accommodation_df.drop(columns=['additional_notes'], inplace=True)

In [56]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,N/A

In [96]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [97]:
# Replace all NaNs in the accommodation dataframe
accommodation_df.fillna("N/A", inplace=True)

In [58]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [26]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,N/A

In [27]:
accommodation_df.drop(columns=['image'], inplace=True)

KeyError: "['image'] not found in axis"

In [ ]:
accommodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Contact / Listing Link,Additional Notes,Listing Link
0,Ahmedabad,Vaishno Devi Circle,Flat,2 BHK,28000.0,Semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,NaN,NaN,https://housing.com/rent/flats-for-rent-in-vai...
1,Ahmedabad,Jagatpur,Flat,4 BHK,50000.0,Semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,NaN,NaN,NaN
2,Ahmedabad,Shantigram,Flat,2 BHK,28000.0,Semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",QUALITY LIVING PROPERTY SOLUTIONS,NaN,NaN,NaN
3,Ahmedabad,Bodakdev,Flat,3 BHK,49000.0,Fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",JAY DWARKADHISH REAL ESTATE,NaN,NaN,NaN
4,Ahmedabad,Shantigram,Flat,3 BHK,42500.0,Semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,Vesu,Flat,3 BHK,35000,Un-furnished,2050 sq.ft,Parking,Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1147,Surat,Vesu,Flat,3 BHK,70000,Fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1148,Surat,Vesu,Flat,3 BHK,48000,Fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN
1149,Surat,Vesu,Flat,3 BHK,25000,Un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup areaUn-furnished\nFurnishing status,NaN,NaN,NaN
1150,Surat,Vesu,Flat,3 BHK,50000,Fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup areaFully furnished\nFurnishing status,NaN,NaN,NaN

In [ ]:
import pandas as pd

# Load your dataset (replace with your actual file)
df = pd.read_csv("your_dataset.csv")  # or pd.read_excel("your_dataset.xlsx")

# Create a dictionary mapping area names to specific links
area_links = {
    "Vastral": "https://example.com/vastral-listing",
    "Jagatpur": "https://example.com/jagatpur-listing",
    "Shantigram": "https://example.com/shantigram-listing"
    # Add more areas and links as needed
}

# Update the 'Listing Link' column based on the 'Locality / Area' column
df['Listing Link'] = df['Locality / Area'].map(area_links)

# Save the updated dataset
df.to_csv("updated_dataset.csv", index=False)
print("Links updated successfully!")

In [ ]:
import json
from supabase import create_client, Client

# ------------------ SUPABASE CONFIG ------------------
SUPABASE_URL = "https://iecothmegflxbpvndnru.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NzQ1ODUsImV4cCI6MjA3NDU1MDU4NX0.I4zmPYXfyqNA3ajhyAJlJ5yCLekNWo491BPUDOfcUeI"
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

# ------------------ GET LOGGED-IN USER ------------------
def get_current_user():
    auth_response = supabase.auth.get_user()
    user = auth_response.get("data", {}).get("user") if auth_response else None
    if not user:
        print("No user logged in. Please authenticate first.")
        return None
    return user

# ------------------ FETCH WISHLIST ------------------
def fetch_wishlist():
    user = get_current_user()
    if not user:
        return []

    user_id = user.get("id")  # UUID from Supabase session
    response = supabase.table("wishlists").select("service_id, service_data").eq("user_id", user_id).execute()

    if response.error:
        print("Error fetching wishlist:", response.error)
        return []

    wishlist_items = []
    for item in response.data:
        entry = item.get("service_data", {})
        entry["service_id"] = item.get("service_id")
        wishlist_items.append(entry)

    return wishlist_items

# ------------------ SAVE TO JSON ------------------
def save_wishlist_to_json(filename="wishlist.json"):
    wishlist_items = fetch_wishlist()
    if wishlist_items:
        with open(filename, "w", encoding="utf-8") as f:
            json.dump(wishlist_items, f, ensure_ascii=False, indent=4)
        print(f"Wishlist saved to {filename}")
    else:
        print("No wishlist items to save.")

# ------------------ USAGE ------------------
if __name__ == "__main__":
    save_wishlist_to_json()

No user logged in. Please authenticate first.
No wishlist items to save.

In [ ]:
from supabase import create_client, Client

SUPABASE_URL = "https://iecothmegflxbpvndnru.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODk3NDU4NSwiZXhwIjoyMDc0NTUwNTg1fQ.uLY3tkLBqlJ9rlGjbqQbsaX9B1xdwdg2hHzYePoOcUo"
supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

# Fetch all service_id and relevant info
resp = supabase.table("wishlists").select("service_id, service_data").execute()
rows = resp.data or []

def extract_name(sd: dict) -> str | None:
    # Try common fields present in your datasets
    for k in ("name", "restaurant_name", "Project/Owner Name", "owner_name", "title"):
        v = sd.get(k)
        if v and isinstance(v, str) and v.strip():
            return v.strip().lower()
    return None

# Optionally use a canonical id present inside service_data if available
def extract_service_id(sd: dict) -> str | None:
    for k in ("id", "service_id"):
        v = sd.get(k)
        if v and isinstance(v, str):
            return v
    return None

service_map = {}
for item in rows:
    sd = item.get("service_data") or {}
    # Prefer explicit id inside service_data, else fall back to name
    sid = item.get("service_id") or extract_service_id(sd)
    nm = extract_name(sd)
    if sid and nm:
        service_map[nm] = sid

print(f"mapped entries: {len(service_map)}")

# Now map DataFrames by a matching name column (normalize to lower)
if "name" in accommodation_df.columns:
    accommodation_df["service_id"] = (
        accommodation_df["name"].astype(str).str.strip().str.lower().map(service_map)
    )
elif "Project/Owner Name" in accommodation_df.columns:
    accommodation_df["service_id"] = (
        accommodation_df["Project/Owner Name"].astype(str).str.strip().str.lower().map(service_map)
    )

if "restaurant_name" in food_df.columns:
    food_df["service_id"] = (
        food_df["restaurant_name"].astype(str).str.strip().str.lower().map(service_map)
    )
elif "name" in food_df.columns:
    food_df["service_id"] = (
        food_df["name"].astype(str).str.strip().str.lower().map(service_map)
    )

if "name" in tiffin_df.columns:
    tiffin_df["service_id"] = (
        tiffin_df["name"].astype(str).str.strip().str.lower().map(service_map)
    )

mapped entries: 33

NameError: name 'accommodation_df' is not defined

In [ ]:
import pandas as pd

# accommodation_df = pd.read_csv("your_accommodation_file.csv")
# service_map = {"name1": "service_id1", ...}

# Add service_id column by matching name
accommodation_df["service_id"] = accommodation_df["name"].map(service_map)

In [ ]:
food_df["service_id"] = food_df["name"].map(service_map)
tiffin_df["service_id"] = tiffin_df["name"].map(service_map)

In [61]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,Phone,Menu,Other,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOu7M...,https://lh3.googleusercontent.com/p/AF1QipP9uv...,Ahmedabad
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,NaN,https://lh3.googleusercontent.com/p/AF1QipOudw...,https://lh3.googleusercontent.com/p/AF1QipOvu7...,Ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOaGu...,https://lh3.googleusercontent.com/p/AF1QipOaGu...,Ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipPRQ7...,https://lh3.googleusercontent.com/p/AF1QipOVfN...,Ahmedabad
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipMaGt...,Vadodara
...,...,...,...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOxiS...,https://lh3.googleusercontent.com/p/AF1QipPNMV...,Ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipOKEN...,Gandhinagar
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipO9lX...,https://lh3.googleusercontent.com/p/AF1QipP7U9...,Rajkot
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOiyY...,https://lh3.googleusercontent.com/p/AF1QipMupp...,NaN
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipNZHF...,NaN

In [ ]:
from supabase import create_client, Client
import os

SUPABASE_URL = os.getenv("SUPABASE_URL", "https://iecothmegflxbpvndnru.supabase.co")
SUPABASE_KEY = os.getenv("service_role_key","eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllY290aG1lZ2ZseGJwdm5kbnJ1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODk3NDU4NSwiZXhwIjoyMDc0NTUwNTg1fQ.uLY3tkLBqlJ9rlGjbqQbsaX9B1xdwdg2hHzYePoOcUo")  # use service role key via .env

supabase: Client = create_client(SUPABASE_URL, SUPABASE_KEY)

resp = supabase.table("wishlists").select("service_id, service_data").execute()
rows = resp.data or []

def extract_name(sd: dict) -> str | None:
    # Try common fields present in your datasets
    for k in ("name", "restaurant_name", "Project/Owner Name", "owner_name", "title"):
        v = sd.get(k)
        if v and isinstance(v, str) and v.strip():
            return v.strip().lower()
    return None

# Optionally use a canonical id present inside service_data if available
def extract_service_id(sd: dict) -> str | None:
    for k in ("id", "service_id"):
        v = sd.get(k)
        if v and isinstance(v, str):
            return v
    return None

service_map = {}
for item in rows:
    sd = item.get("service_data") or {}
    # Prefer explicit id inside service_data, else fall back to name
    sid = item.get("service_id") or extract_service_id(sd)
    nm = extract_name(sd)
    if sid and nm:
        service_map[nm] = sid

print(f"mapped entries: {len(service_map)}")

# Now map DataFrames by a matching name column (normalize to lower)
if "locality_/_area" in accommodation_df.columns:
    accommodation_df["service_id"] = (
        accommodation_df["locality_/_area"].astype(str).str.strip().str.lower().map(service_map)
    )
elif "project/owner_name" in accommodation_df.columns:
    accommodation_df["service_id"] = (
        accommodation_df["project/owner_name"].astype(str).str.strip().str.lower().map(service_map)
    )

if "restaurant_name" in food_df.columns:
    food_df["service_id"] = (
        food_df["restaurant_name"].astype(str).str.strip().str.lower().map(service_map)
    )
elif "name" in food_df.columns:
    food_df["service_id"] = (
        food_df["name"].astype(str).str.strip().str.lower().map(service_map)
    )

if "name" in tiffin_df.columns:
    tiffin_df["service_id"] = (
        tiffin_df["name"].astype(str).str.strip().str.lower().map(service_map)
    )

# Optional: report unmapped rows
print("accommodation unmapped:", int(accommodation_df["service_id"].isna().sum()) if "service_id" in accommodation_df.columns else "n/a")
print("food unmapped:", int(food_df["service_id"].isna().sum()) if "service_id" in food_df.columns else "n/a")
print("tiffin unmapped:", int(tiffin_df["service_id"].isna().sum()) if "service_id" in tiffin_df.columns else "n/a")

mapped entries: 33
accommodation unmapped: n/a
food unmapped: n/a
tiffin unmapped: n/a

In [40]:
print("Accommodation columns:", accommodation_df.columns)
print("Food columns:", food_df.columns)
print("Tiffin columns:", tiffin_df.columns)

# Show a sample of mapped service_id values
print("Accommodation sample service_id:", accommodation_df.get("service_id", pd.Series()).head())
print("Food sample service_id:", food_df.get("service_id", pd.Series()).head())
print("Tiffin sample service_id:", tiffin_df.get("service_id", pd.Series()).head())

Accommodation columns: Index(['city', 'locality_/_area', 'property_type', 'bedrooms', 'rent_price',
       'furnishing_status', 'size', 'amenities', 'project/owner_name',
       'contact / listing link'],
      dtype='object')
Food columns: Index(['City', 'Locality / Area', 'Property Type', 'Bedrooms', 'Rent Price',
       'Furnishing Status', 'Size', 'Amenities', 'Project/Owner Name',
       'Listing Link', 'Rating', 'Tags', 'Price Range'],
      dtype='object')
Tiffin columns: Index(['City', 'Locality / Area', 'Property Type', 'Bedrooms', 'Rent Price',
       'Furnishing Status', 'Size', 'Amenities', 'Project/Owner Name',
       'Listing Link', 'Rating', 'Tags', 'Price Range'],
      dtype='object')
Accommodation sample service_id: Series([], dtype: object)
Food sample service_id: Series([], dtype: object)
Tiffin sample service_id: Series([], dtype: object)

In [63]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,0.0
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,0.0
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,0.0
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,0.0
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,0.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [115]:
tiffin_df.drop(columns=['tags'], inplace=True)

In [69]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara
...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN

In [70]:
accommodation_df

,city,locality_/_area,property_type,bedrooms,rent_price,furnishing_status,size,amenities,project/owner_name,contact / listing link
0,ahmedabad,vaishno devi circle,flat,2.0,28000.0,semi furnished,1214 sq.ft,"24x7 security,children play area,close to jain...",homezy space,N/A
1,ahmedabad,jagatpur,flat,4.0,50000.0,semi furnished,4105 sq.ft,"school proximity,swimming pool,24x7 security,c...",preetam yadav,c:/replit/project/src/data/areas\jagatpur.ts
2,ahmedabad,shantigram,flat,2.0,28000.0,semi furnished,1280 sq.ft,"children play area,24x7 security,gymnasium,clo...",quality living property solutions,c:/replit/project/src/data/areas\shantigram.ts
3,ahmedabad,bodakdev,flat,3.0,49000.0,fully furnished,1965 sq.ft,"lift,parking,power backup,intercom",jay dwarkadhish real estate,c:/replit/project/src/data/areas\bodakdev.ts
4,ahmedabad,shantigram,flat,3.0,42500.0,semi furnished,2200 sq.ft,"pool,gym,lift,parking",j p tripathi,c:/replit/project/src/data/areas\shantigram.ts
...,...,...,...,...,...,...,...,...,...,...
901,gandhinagar,koba,flat,2.0,15000.0,fully furnished,1200 sq.ft,"lift,parking,power backup,kids area",four corner property,N/A
902,gandhinagar,randesan,flat,2.0,20000.0,semi furnished,1395 sq.ft,"24x7 security,gymnasium,landscaped garden,lift",aspirerealities,N/A
903,gandhinagar,bhaijipura,flat,2.0,25000.0,semi furnished,1200 sq.ft,"pool,gym,lift,parking rpprime user",rpprime user,N/A
904,gandhinagar,sargasan,flat,2.0,15000.0,un-furnished,1200 sq.ft,"lift,parking,power backup,garden",four corner property,N/A
905,gandhinagar,raysan,villa,4.0,65000.0,fully furnished,2700 sq.ft,"24x7 security,close to grocery stores,metro st...",madhav realtors,N/A

Preprocessing done: random ratings filled where missing.

In [103]:
food_df["rating"] = pd.to_numeric(food_df["rating"], errors="coerce")

# Mask for NaN or 0
mask = food_df["rating"].isna() | (food_df["rating"] == 0)

# Generate random ratings for masked rows
food_df.loc[mask, "rating"] = np.random.uniform(3.5, 4.8, size=mask.sum()).round(1)

In [104]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,4.3
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,4.6
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,3.6
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,4.4
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,4.0
...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6

In [105]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,Phone,Menu,Other,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOu7M...,https://lh3.googleusercontent.com/p/AF1QipP9uv...,Ahmedabad
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,NaN,https://lh3.googleusercontent.com/p/AF1QipOudw...,https://lh3.googleusercontent.com/p/AF1QipOvu7...,Ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOaGu...,https://lh3.googleusercontent.com/p/AF1QipOaGu...,Ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipPRQ7...,https://lh3.googleusercontent.com/p/AF1QipOVfN...,Ahmedabad
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipMaGt...,Vadodara
...,...,...,...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOxiS...,https://lh3.googleusercontent.com/p/AF1QipPNMV...,Ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipOKEN...,Gandhinagar
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipO9lX...,https://lh3.googleusercontent.com/p/AF1QipP7U9...,Rajkot
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,https://lh3.googleusercontent.com/p/AF1QipOiyY...,https://lh3.googleusercontent.com/p/AF1QipMupp...,NaN
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,NaN,https://lh3.googleusercontent.com/p/AF1QipNZHF...,NaN

In [109]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara
...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN

In [110]:
accomodation_df

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Listing Link,Rating,Tags,Price Range
0,Ahmedabad,vaishno devi circle,flat,2 BHK,28000.0,semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,Not Available,3.9,accommodation,high
1,Ahmedabad,jagatpur,flat,4 BHK,50000.0,semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,https://housing.com/rent/flats-for-rent-in-jag...,3.6,accommodation,high
2,Ahmedabad,shantigram,flat,2 BHK,28000.0,semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",Quality Living Property Solutions,https://housing.com/rent/flats-for-rent-in-sha...,4.0,accommodation,high
3,Ahmedabad,bodakdev,flat,3 BHK,49000.0,fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",Jay Dwarkadhish Real Estate,https://housing.com/rent/flats-for-rent-in-bod...,4.9,accommodation,high
4,Ahmedabad,shantigram,flat,3 BHK,42500.0,semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,https://housing.com/rent/flats-for-rent-in-sha...,3.9,accommodation,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,vesu,flat,3 BHK,35000.0,un-furnished,2050 sq.ft,Parking,Builtup Areaun-Furnished\nFurnishing Status,Not Available,3.2,accommodation,high
1147,Surat,vesu,flat,3 BHK,70000.0,fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.6,accommodation,high
1148,Surat,vesu,flat,3 BHK,48000.0,fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areafully Furnished\nFurnishing Status,Not Available,4.8,accommodation,high
1149,Surat,vesu,flat,3 BHK,25000.0,un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areaun-Furnished\nFurnishing Status,Not Available,4.0,accommodation,high
1150,Surat,vesu,flat,3 BHK,50000.0,fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.4,accommodation,high

In [112]:
import numpy as np
import pandas as pd
# ...existing code...

# ---------- Tiffin: tags and price_range ----------
# Ensure we have a Series aligned to the DataFrame index
if "price" in tiffin_df.columns:
    tiffin_price = pd.to_numeric(tiffin_df["price"], errors="coerce")
else:
    tiffin_price = pd.Series(np.nan, index=tiffin_df.index)

# fallback: monthly_price or per_meal_price (also aligned)
if tiffin_price.isna().all():
    if "monthly_price" in tiffin_df.columns:
        tiffin_price = pd.to_numeric(tiffin_df["monthly_price"], errors="coerce")
    elif "per_meal_price" in tiffin_df.columns:
        tiffin_price = pd.to_numeric(tiffin_df["per_meal_price"], errors="coerce")

tiffin_df["__price_numeric__"] = tiffin_price

def build_tiffin_tags(row):
    parts = []
    for col in ["name", "city", "area", "cuisine", "meal_type", "plan", "notes"]:
        if col in row.index:
            v = str(row[col]).strip()
            if v and v.lower() != "n/a":
                parts.append(v)
    seen = set()
    return ", ".join([p for p in parts if not (p in seen or seen.add(p))])

tiffin_df["tags"] = tiffin_df.apply(build_tiffin_tags, axis=1)

def tiffin_price_bucket(p):
    if pd.isna(p): return "unknown"
    if p < 120:     return "budget"
    if p < 250:     return "mid"
    return "premium"

tiffin_df["price_range"] = tiffin_df["__price_numeric__"].apply(tiffin_price_bucket)
tiffin_df.drop(columns=["__price_numeric__"], inplace=True)
# ...existing code...

In [113]:
food_df

,restaurant_name,platform,city,cuisine,dish,price,rating,tags,price_range
0,kfc,swiggy,ahmedabad,recommended,peri peri strips & popcorn party bucket,599.0,4.3,"recommended, peri peri strips & popcorn party ...",premium
1,kfc,swiggy,ahmedabad,recommended,chill squad strips & mojito platter,419.0,4.6,"recommended, chill squad strips & mojito platt...",premium
2,kfc,swiggy,ahmedabad,recommended,classic chicken roll buddy meal,499.0,3.6,"recommended, classic chicken roll buddy meal, ...",premium
3,kfc,swiggy,ahmedabad,recommended,tandoori roll & zinger pop meal,419.0,4.4,"recommended, tandoori roll & zinger pop meal, ...",premium
4,kfc,swiggy,ahmedabad,recommended,veggie vibe zinger duo meal,589.0,4.0,"recommended, veggie vibe zinger duo meal, kfc,...",premium
...,...,...,...,...,...,...,...,...,...
10680,tea post,zomato,rajkot,continental,steak sandwich,100.0,4.1,"continental, steak sandwich, tea post, rajkot,...",budget
10681,mandap - express towers,swiggy,baroda,italian,pesto pasta (special),1008.0,4.7,"italian, pesto pasta (special), mandap - expre...",premium
10682,azure - the gateway hotel,swiggy,baroda,biryani,hyderabadi biryani,261.0,3.6,"biryani, hyderabadi biryani, azure - the gatew...",mid
10683,la pino'z pizza,zomato,rajkot,bakery,chocolate brownie,333.0,4.1,"bakery, chocolate brownie, la pino'z pizza, ra...",premium
10684,shree maruti nandan kathiyawadi,swiggy,baroda,continental,caesar salad (full),621.0,4.6,"continental, caesar salad (full), shree maruti...",premium

In [114]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City,tags,price_range
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad,,unknown
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad,,unknown
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad,,unknown
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad,,unknown
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara,,unknown
...,...,...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad,,unknown
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar,,unknown
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot,,unknown
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,,unknown
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,,unknown

In [118]:
food_df.drop(columns=['tags'], inplace=True)

In [119]:
aco

,City,Locality / Area,Property Type,Bedrooms,Rent Price,Furnishing Status,Size,Amenities,Project/Owner Name,Listing Link,Rating,Tags,Price Range
0,Ahmedabad,vaishno devi circle,flat,2 BHK,28000.0,semi furnished,1214 sq.ft,"24x7 Security, Children Play Area, Close to Ja...",Homezy Space,Not Available,3.9,accommodation,high
1,Ahmedabad,jagatpur,flat,4 BHK,50000.0,semi furnished,4105 sq.ft,"School Proximity, Swimming Pool, 24x7 Security...",Preetam Yadav,https://housing.com/rent/flats-for-rent-in-jag...,3.6,accommodation,high
2,Ahmedabad,shantigram,flat,2 BHK,28000.0,semi furnished,1280 sq.ft,"Children Play Area, 24x7 Security, Gymnasium, ...",Quality Living Property Solutions,https://housing.com/rent/flats-for-rent-in-sha...,4.0,accommodation,high
3,Ahmedabad,bodakdev,flat,3 BHK,49000.0,fully furnished,1965 sq.ft,"Lift, Parking, Power Backup, Intercom",Jay Dwarkadhish Real Estate,https://housing.com/rent/flats-for-rent-in-bod...,4.9,accommodation,high
4,Ahmedabad,shantigram,flat,3 BHK,42500.0,semi furnished,2200 sq.ft,"Pool, Gym, Lift, Parking",J P Tripathi,https://housing.com/rent/flats-for-rent-in-sha...,3.9,accommodation,high
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,Surat,vesu,flat,3 BHK,35000.0,un-furnished,2050 sq.ft,Parking,Builtup Areaun-Furnished\nFurnishing Status,Not Available,3.2,accommodation,high
1147,Surat,vesu,flat,3 BHK,70000.0,fully furnished,3550 sq.ft,"Lift, Parking, Power Backup, Intercom",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.6,accommodation,high
1148,Surat,vesu,flat,3 BHK,48000.0,fully furnished,2380 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areafully Furnished\nFurnishing Status,Not Available,4.8,accommodation,high
1149,Surat,vesu,flat,3 BHK,25000.0,un-furnished,950 sq.ft,"Pool, Gym, Lift, Parking",Builtup Areaun-Furnished\nFurnishing Status,Not Available,4.0,accommodation,high
1150,Surat,vesu,flat,3 BHK,50000.0,fully furnished,1800 sq.ft,"Gym, Lift, Parking, Power Backup",Builtup Areafully Furnished\nFurnishing Status,Not Available,3.4,accommodation,high

In [120]:
import numpy as np
import pandas as pd
# ...existing code...

# ---------- Food: Tags and Price Range ----------
food_df["Tags"] = "food"
food_price = pd.to_numeric(food_df.get("price"), errors="coerce")

def food_bucket(p):
    if pd.isna(p): return "medium"           # no 'unknown'
    if p < 150:    return "low"
    if p < 300:    return "medium"
    return "high"

food_df["Price Range"] = food_price.apply(food_bucket)

# ---------- Tiffin: Tags and Price Range ----------
tiffin_df["Tags"] = "tiffin"

# Build price series from available columns (fallbacks applied)
if "price" in tiffin_df.columns:
    tiffin_price = pd.to_numeric(tiffin_df["price"], errors="coerce")
else:
    tiffin_price = pd.Series(np.nan, index=tiffin_df.index)

if tiffin_price.isna().all() and "monthly_price" in tiffin_df.columns:
    tiffin_price = pd.to_numeric(tiffin_df["monthly_price"], errors="coerce")
if tiffin_price.isna().all() and "per_meal_price" in tiffin_df.columns:
    tiffin_price = pd.to_numeric(tiffin_df["per_meal_price"], errors="coerce")

def tiffin_bucket(p):
    if pd.isna(p): return "medium"           # no 'unknown'
    if p < 120:    return "low"
    if p < 250:    return "medium"
    return "high"

tiffin_df["Price Range"] = tiffin_price.apply(tiffin_bucket)
# ...existing code...

In [122]:
tiffin_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City,Tags,Price Range
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad,tiffin,medium
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad,tiffin,medium
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad,tiffin,medium
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad,tiffin,medium
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara,tiffin,medium
...,...,...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad,tiffin,medium
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar,tiffin,medium
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot,tiffin,medium
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,tiffin,medium
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,tiffin,medium

In [124]:
accom_df = aco
rest_df = food_df
tif_df = tiffin_df

In [127]:
tif_df

,Name,Rating,Reviews,Type,Estimated_Price_Per_Tiffin_INR,Address,Hours,City,Tags,Price Range
0,"Home Made Tiffin Service, Gujarati Tiffin Serv...",4.3,62,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"495, Prabhugokals Pole, Kachwada",Open ‚ãÖ Closes 10 pm,Ahmedabad,tiffin,medium
1,Gujarati Food And Tiffin Service,4.6,39,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"B-32 Rajchandra soc, Kathwada Rd",Open ‚ãÖ Closes 9 am Wed,Ahmedabad,tiffin,medium
2,Aarti Tiffin Service - Best Tiffin Service,4.9,409,Tiffin Service Provider,‚Çπ100 - ‚Çπ135,"Shiv Aashish Flat, E1, Chandola Canal Garden R...",Open ‚ãÖ Closes 8 pm,Ahmedabad,tiffin,medium
3,Jay Siyaram Parcel Point (Porbandar vala) | Be...,4.9,52,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Sahjanand City, 103 B1",Open ‚ãÖ Closes 9 pm,Ahmedabad,tiffin,medium
4,Tiffin Tour Services,5.0,159,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Vinayak Enclave, B 101, Krunal char Rasta, opp...",Open ‚ãÖ Closes 8 pm,Vadodara,tiffin,medium
...,...,...,...,...,...,...,...,...,...,...
61,Punita's Kitchen,5.0,85,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Radio Mirchi tower, Times Of India Press Rd, n...",Open ‚ãÖ Closes 8:30 pm,Ahmedabad,tiffin,medium
62,Annapurna Tiffin Service - Gandhinagar,3.9,55,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Plot no.187/2, sector 3/a new, gandhinagar, gu...",Open ‚ãÖ Closes 9:30 pm,Gandhinagar,tiffin,medium
63,Tiffin Uncle,4.3,226,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"25, Street Number 38",Open ‚ãÖ Closes 10 pm,Rajkot,tiffin,medium
64,Shree Rohini Foods & tiffin service,4.4,38,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"Shree rohini foods and tiffin services, Ramesh...",Open ‚ãÖ Closes 3 pm ‚ãÖ Reopens 7 pm,NaN,tiffin,medium
65,Maa Bana Tiffin Service,4.9,69,Tiffin Service Provider,‚Çπ70 - ‚Çπ120,"SAI GREEN VALLEY-2, G-403, 4th, near Vibhusha ...",Open ‚ãÖ Closes 7 pm,NaN,tiffin,medium

In [134]:
tif_df.isnull().sum()

Name                              0
Rating                            0
Reviews                           0
Type                              0
Estimated_Price_Per_Tiffin_INR    0
Address                           0
Hours                             0
City                              0
Tags                              0
Price Range                       0
dtype: int64

In [133]:
import numpy as np

# Fill missing values for tif_df
tif_df["Address"] = tif_df["Address"].fillna("Unknown")
tif_df["City"] = tif_df["City"].fillna("Unknown")
tif_df["Rating"] = tif_df["Rating"].fillna(lambda: np.round(np.random.uniform(3.0, 5.0), 1))
tif_df["Reviews"] = tif_df["Reviews"].fillna(0)
tif_df["Type"] = tif_df["Type"].fillna("Unknown")
tif_df["Estimated_Price_Per_Tiffin_INR"] = tif_df["Estimated_Price_Per_Tiffin_INR"].fillna(0)
tif_df["Hours"] = tif_df["Hours"].fillna("Unknown")
tif_df["Tags"] = tif_df["Tags"].fillna("None")
tif_df["Price Range"] = tif_df["Price Range"].fillna("Unknown")

print("Missing values filled directly in tif_df")

Missing values filled directly in tif_df

In [135]:
accom_df.to_pickle("accom.pkl")
food_df.to_pickle("food.pkl")
tif_df.to_pickle("tif.pkl")

In [136]:
import os

# Create folder if it doesn't exist
folder_path = r"C:\replit\project\AI"
os.makedirs(folder_path, exist_ok=True)

# Save DataFrames as pickle files in the folder
accom_df.to_pickle(os.path.join(folder_path, "accom.pkl"))
food_df.to_pickle(os.path.join(folder_path, "food.pkl"))
tif_df.to_pickle(os.path.join(folder_path, "tif.pkl"))

In [139]:
tif_df.columns

Index(['Name', 'Rating', 'Reviews', 'Type', 'Estimated_Price_Per_Tiffin_INR',
       'Address', 'Hours', 'City', 'Tags', 'Price Range'],
      dtype='object')